body{
  text-align: center;
}
h1{
  font-size: 3.5rem;
}
.bio-data{
  text-align: left;
  margin: 9% auto 8%;
  padding-top: 5%;
  padding-bottom: 4%;
  width: 40%;
  height: 40%;
  background-color: #EEE;
  border-radius: 8px;
  box-shadow: 20px;

}
.name,.study{
  margin-left: 8%;
  font-size: 1.5rem;
  margin-right: 10%;
  margin-bottom: 5%;
}
#name-d{
  margin-left: 13%;
  margin-bottom: 4%;
}
.sub-btn{
  text-align: center;
  margin-left: 35%;
  border-color: lightblue;
  color: blue;
}
.sub-btn:hover{
  background-color: lightblue;
}

a:hover{
  text-decoration: none;
}
